@import "../config/variable.scss";

.details {
  .back {
    display: flex;
    align-items: center;
    color: $primary;
    text-decoration: underline;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .content {
    h1 {
      font-family: "Poppins Bold";
      margin-bottom: 10px;
    }
    p:nth-child(2) {
      margin-bottom: 10px;
    }
    p:nth-child(3) {
      margin-bottom: 30px;
    }
    p:nth-child(4),
    a {
      color: $primary;
      text-decoration: underline;
      width: fit-content;
      cursor: pointer;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 25px;
      }
    }
  }
}
